@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom themes */
@layer utilities {
    .botb-panel {
        @apply text-3xl text-slate-300;
        @apply focus:outline-none;
        @apply grid grid-cols-2 w-full gap-3 py-2 px-8;
        @apply bg-black/60;
        font-family: Verdana;
        @apply font-bold;
    }

    .botb-gift {
        @apply text-3xl;
        @apply appearance-none focus:outline-none;
        @apply border-none bg-none bg-opacity-0 bg-black/0;
        @apply py-0 px-0;
    }
}