{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BOTB 22 Widget</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Adding tailwind's css file -->
        {% tailwind_css %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>


    <body>

		<div class="botb-panel">
			{% for gift, owner in gifts.items %}

				<div class="flex">
					<div class="w-full">{{gift}}</div>
					<div class="w-fit px-2">=</div>
					<select class="w-full botb-gift max-h-fit" name="{{gift}}" id="people-{{gift}}" onchange="sendOwners()">

						{% for person, color in people.items %}
							{% autoescape off %}
								<option class="p-0" style="color:{{color}}" value="{{person}}">{{person}}</option>
							{% endautoescape %}
						{% endfor %}

					</select>
				</div>

			{% endfor %}

		</div>

		<script>
			// Mapping our colors to update on our selection
			var colors = {
				{% for person, color in people.items %}
					"{{person}}": "{{color}}",
				{% endfor %}
			};

			// Creating a owners dictionary to send back to websocket
			var owners = {
				{% for gift, owner in gifts.items %}
					"{{gift}}": "{{owner}}",
				{% endfor %}
			};

			function getSelects() {
				/* Returns a htmlCollection ot all the select elements on the page.
				*/
				return document.getElementsByTagName("select");
			};

			function sendOwners() {
				/* Gets the dictionary of owners to send back to the websocket
				*/
				// Clearing our dictionary of owners to fill out from the selection elements.
				owners = {};

				// Iterating through each select element
				const selects = getSelects();
				for (let i = 0; i < selects.length; i++) {
					// Getting current element
					var selectElement = selects[i];
					// Collecting our item owners
					owners[selectElement.name] = selectElement.value;
				}

				// Updating the websocket
				botbSocket.send(JSON.stringify({
					'update': owners
				}));
			}

			function updateSelections(newOnwers) {
				/* Updates all selection elements using provided dictionary

				Also updates the values per the 'colors' dictionary
				*/
				// Iterating through the select elements to give them the correct value
				const selects = getSelects();
				for (let i = 0; i < selects.length; i++) {
					// Getting current element
					var selectElement = selects[i];
					// Setting our new element value
					selectElement.value = newOnwers[selectElement.name];
					selectElement.style.color = colors[selectElement.value];
				}
			};

			/* --------------------
				Web Socket
			-------------------- */
			const botbSocket = new WebSocket(
				'ws://' + window.location.host + '/ws/botb22/'
			);

			botbSocket.onmessage = function(e) {
				// Recives webpacket function and handles the information
				updateSelections(JSON.parse(e.data)['update']);
			};

			botbSocket.onclose = function(e) {
				// When the botb socket fails for any reason
				console.error('BOTB socket failed, please reload page.');
			};

			/* ------------------
				Main script
			------------------ */
			updateSelections(owners);

		</script>
    </body>
</html>